html {
    min-height: 710px;
}

.registration-box {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #979797;
}

@media screen and (min-width: 768px) {
    html {
        min-height: 605px;
    }

    .registration-box {
        width: 550px;
        left: 50%;
        margin-left: -275px;
    }

    .teacher-registration-form {
        width: 425px;
        margin: 0 62.5px;
    }
}

.form-label {
    font-size: 3.375em;
    font-weight: 300;
    margin-bottom: 30px;
}