@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    width: 100%;
    height: 100%;
    min-height: 450px;
    font-family: 'Raleway', sans-serif;
}

.logo {
    margin: 35px 50px -7px;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    float: right;
}

.logo span {
    color: #2ECC71;
}

.main-content {
    min-height: 100%;
    margin-bottom: -40px;
    padding: 0 15px;
}

.msg-bar {
    margin-top: 10px;
}

footer {
    margin-bottom: 0;
    height: 40px;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}


.mathspring-btn,
.mathspring-btn:active,
.mathspring-btn:focus {
    background: #2ecc71;
    border-color: #2ecc71;
    color: #ffffff;
    font-weight: bold;
    outline: none;
}

.mathspring-btn:hover {
    background: #2a9c5a;
    border-color: #2a9c5a;
    color: #ffffff;
}