html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

#pots {
    min-height: 100vh;
    padding: 50px 50px 150px 50px;
    background: url(../img/bgv1.png);
    background-size: cover;
}

#pots .row {
    margin-bottom: 80px;
}

#pots img {
    padding-bottom: 10px;
    border: 1px solid #2ECC71;
    border-radius: 15%;
    background-color: rgba(46, 204, 113, 0.3);
    transition: all 0.4s ease;
}

#pots img:hover {
    background-color: rgba(46, 204, 113, 0.8);
}

.plant-garden-pot-wrapper {
    margin-top: 20px;
}

#fixed-footer {
    bottom: 0;
    position: fixed;
    z-index: 150;
    width: 100%;
    _position: absolute;
    /*_top: expression(eval(document.documentElement.scrollTop+ (document.documentElement.clientHeight-this.offsetHeight)));*/
    height: 150px;
}

.fixed-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */;
}

.talkbubble {
    width: 250px;
    top: -100px;
    background: white;
    position: absolute;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.talkbubble p {
    margin-top: 10px;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
}

.talkbubble:before {
    left: 46%;
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-right: 13px solid transparent;
    border-top: 26px solid white;
    border-left: 13px solid transparent;
}

div[topicTitle] img:hover {
    cursor: pointer;
}

div[topicTitle] img:hover ~ div {
    display: block;
}

div[topicTitle] > div {
    display: none;
    transition: all .4s ease;
}

#big-working-button {
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    z-index: 150;
    width: 100%;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+ (document.documentElement.clientHeight-this.offsetHeight)));
    height: 150px;
    text-align: center;
    background: #1ab85d;
    color: white;
    transition: background-color 0.5s ease;
}
#big-working-button:after {
    content: "";
    background: #2ECC71;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}
#big-working-button h1 {
    letter-spacing: 2px;
}
#big-working-button p {
    margin-top: 20px;
    letter-spacing: 1px;
}
#big-working-button:hover {
    text-decoration: none;
    background: #2ECC71;
    cursor: pointer;
}

/*Important:*/
.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* edit: fixes overlap error in IE7/8,
       make sure you have an empty gif
    background-image: url('empty.gif');*/
}

.section-panel {
    width: 90%;
    height: 200px;
    position: relative;
    color: white;
    transition: all 0.5s;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.section-panel:after {
    border-radius: 0;
    content: '\A';
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
}
.section-panel:hover:after {
    opacity: 0.5;
}
.section-panel h4 {
    padding: 0 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-size: 1.5em;
    top: 30%;
    transition: all 0.5s ease;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}
.section-panel:hover {
    cursor: pointer;
}
.section-panel:hover h4 {
    top: 10%;
}
.section-panel:hover div {
    opacity: 0.95;
}
.section-panel .num-questions {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 18px;
    font-size: 3em;
    opacity: 0;
    transition: all 1s ease;
}
.section-panel .num-questions p {
    font-size: 0.4em;
    text-align: center;
    z-index: 2;
}
.section-panel .progress {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: 2;
    bottom: -20px;
}

.zero-progress {
    background-color: #D72D00;
}

.thirty-three-progress {
    background-color: #FF8F0D;
}

.sixty-six-progress {
    background-color: #2ECC71;
}

/* Override vex dialog font */
.vex.vex-theme-os .vex-content {
    font-family: inherit;
    border-top: 20px solid #2ECC71;
}
