#ProblemStatement{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    margin-bottom: 10px;
}
#ProblemFigure{
    width: 250px; /*Width is needed because it controls the overall size of vector graphic figures*/
    background-color: rgba(248,250,248,0);
    margin-bottom: 10px;
}
.answer_row{
    margin: 0 0 10px 20px;
    line-height: 27px;
    height: 27px;
}
#ShortAnswerBox{
    margin: 0 auto 10px auto;
    display: table;
}
.button{
    float: left;
    width: 27px;
    height: 27px;
    margin-right: 20px;
}
.ellipse{
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(232,241,160);
    z-index: 1;
}
.button_text{
    position: absolute;
    width: 27px;
    height: 19px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-align: center;
    z-index: 2;
}
.answer_text{
    height: 27px;
    position: relative;
    margin-left: 47px;
}
.answer_text a{
    vertical-align: middle;
}
.answer_text a img{
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
}
.x{
    position: absolute;
    left: 20px;
    margin-top: -4px;
    width: 42px;
    height: 33px;
    background-image: url(../images/x.png);
    background-size: 100% 100%;
    display: none;
    z-index: 3;
}
.check{
    position: absolute;
    left: 18px;
    margin-top: -16px;
    width: 65px;
    height: 42px;
    background-image: url(../images/check.png);
    background-size: 100% 100%;
    display: none;
    z-index: 3;
}
.short_answer_check{
    position: absolute;
    left: 187px;
    top: 32px;
    width: 33px;
    height: 31px;
    background-image: url(../images/check2.png);
    background-size: 100% 100%;
    display: none;
    z-index: 2;
}
.short_answer_x{
    position: absolute;
    left: 187px;
    top: 32px;
    width: 33px;
    height: 31px;
    background-image: url(../images/x2.png);
    background-size: 100% 100%;
    display: none;
    z-index: 2;
}
#ProblemContainer{
    position: relative;
}
#HintContainer{
    float: right;
    width: 50%;
    background-color: rgba(255,255,255,0.25);
    border: rgba(0,0,0,0) solid 5px;
    border-radius: 15px;
}
.hint_thumb{
    position: relative;
    float: left;
    width: 70px;
    height: 30px;
    display: none;
}
.hint_thumb_img{
    position: absolute;
    width: 70px;
    height: 30px;
    background-image: url(../images/hintbutton.png);
    background-size: 100% 100%;
    z-index: 1;
}
.hint_thumb_img_pressed{
    position: absolute;
    width: 70px;
    height: 30px;
    background-image: url(../images/hintpressed.png);
    background-size: 100% 100%;
    display: none;
    z-index: 1;
}
.hint_thumb_text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: rgb(32, 61, 29);
    font-weight: 700;
    font-style: normal;
    text-align: center;
    z-index: 2;
}
.hint{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: blue;
}
.hint img{
    max-width: 100%;
}
.hint.slide_left{
    -o-transition: left 1s ease, top 0s ease;
    -moz-transition: left 1s ease, top 0s ease;
    -webkit-transition: left 1s ease, top 0s ease;
    transition: left 1s ease, top 0s ease;
    left: 270px;
    top: 92px;
}
.hint.slide_up{
    -o-transition: left 0s ease, top 1s ease;
    -moz-transition: left 0s ease, top 1s ease;
    -webkit-transition: left 0s ease, top 1s ease;
    transition: left 0s ease, top 1s ease;
    left: 270px;
    top: 92px;
}
.hint.default{
    left: 270px;
    top: 92px;
}
.clear{
    clear: both;
}

