<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.url">jdbc:mysql://rose.cs.umass.edu/wayangoutpostdb?autoReconnect=true</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">WayangServer</property>
    <property name="hibernate.connection.password">jupiter</property>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="show_sql">true</property>
      <!--<mapping resource="edu/umass/ckc/wo/beans/Teacher.hbm.xml"></mapping>-->
      <mapping class="edu.umass.ckc.wo.beans.TeacherEntity"></mapping>
      <mapping class="edu.umass.ckc.wo.beans.Topic"></mapping>
      <mapping class="edu.umass.ckc.wo.beans.TopicEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>